# Importing modules and functions

In [12]:
import numpy as np
import pandas as pd
from rdkit.Chem import MACCSkeys
from rdkit import Chem, DataStructs
from rdkit.Chem import AllChem, Descriptors
from rdkit.ML.Descriptors import MoleculeDescriptors
import chembl_structure_pipeline
from molvs import standardize_smiles
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.model_selection import permutation_test_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import pairwise_distances
import joblib
import pickle
from numpy import savetxt
from padelpy import from_sdf
from IPython.display import HTML
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings('ignore')

# Data entry and curation work set

In [13]:
uploaded_file_ws="datasets/HDAC3_work.sdf"
supplier_ws = Chem.ForwardSDMolSupplier(uploaded_file_ws,sanitize=False)
failed_mols_ws = []
all_mols_ws =[]
wrong_structure_ws=[]
wrong_smiles_ws=[]
y_tr = []
y_bad_index=[]

for i, m in enumerate(supplier_ws):
    structure = Chem.Mol(m)
    all_mols_ws.append(structure)
    y_tr.append(m.GetProp("pchembl_value_mean"))
    try:
        Chem.SanitizeMol(structure)
    except:
        failed_mols_ws.append(m)
        wrong_smiles_ws.append(Chem.MolToSmiles(m))
        wrong_structure_ws.append(str(i+1))
        y_bad_index.append(i)
print('Original data: ', len(all_mols_ws), 'molecules')
print('Failed data: ', len(failed_mols_ws), 'molecules')
number_ws =[]
for i in range(len(failed_mols_ws)):
        number_ws.append(str(i+1))
bad_molecules_ws = pd.DataFrame({'No. failed molecule in original set': wrong_structure_ws, 'SMILES of wrong structure: ': wrong_smiles_ws, 'No.': number_ws}, index=None)
bad_molecules_ws = bad_molecules_ws.set_index('No.')
bad_molecules_ws

Original data:  1400 molecules
Failed data:  0 molecules

Empty DataFrame
Columns: [No. failed molecule in original set, SMILES of wrong structure: ]
Index: []

deleting activity values for substances with incorrect structure

In [14]:
y_tr[:] = [x for i,x in enumerate(y_tr) if i not in y_bad_index]

In [15]:
len(y_tr)

1400

# Standardization SDF file for work set

In [16]:
all_mols_ws[:] = [x for i,x in enumerate(all_mols_ws) if i not in y_bad_index] 
records = []
for i in range(len(all_mols_ws)):
    record = Chem.MolToSmiles(all_mols_ws[i])
    records.append(record)

moldf_ws = []
for i,record in enumerate(records):
    standard_record = standardize_smiles(record)
    m = Chem.MolFromSmiles(standard_record)
    moldf_ws.append(m)
    
print('Kept data: ', len(moldf_ws), 'molecules')

Kept data:  1400 molecules

# Data entry and curation test set

In [17]:
uploaded_file_ts="datasets/HDAC3_test.sdf"
supplier_ts = Chem.ForwardSDMolSupplier(uploaded_file_ts,sanitize=False)
failed_mols_ts = []
all_mols_ts =[]
wrong_structure_ts=[]
wrong_smiles_ts=[]
y_ts = []
y_bad_index=[]
for i, m in enumerate(supplier_ts):
    structure = Chem.Mol(m)
    all_mols_ts.append(structure)
    y_ts.append(m.GetProp("pchembl_value_mean"))
    try:
        Chem.SanitizeMol(structure)
    except:
        failed_mols_ts.append(m)
        wrong_smiles_ts.append(Chem.MolToSmiles(m))
        wrong_structure_ts.append(str(i+1))
        y_bad_index.append(i)
print('Original data: ', len(all_mols_ts), 'molecules')
print('Failed data: ', len(failed_mols_ts), 'molecules')
number_ts =[]
for i in range(len(failed_mols_ts)):
        number_ts.append(str(i+1))
bad_molecules_ts = pd.DataFrame({'No. failed molecule in original set': wrong_structure_ts, 'SMILES of wrong structure: ': wrong_smiles_ts, 'No.': number_ts}, index=None)
bad_molecules_ts = bad_molecules_ts.set_index('No.')
bad_molecules_ts

Original data:  351 molecules
Failed data:  0 molecules

Empty DataFrame
Columns: [No. failed molecule in original set, SMILES of wrong structure: ]
Index: []

deleting activity values for substances with incorrect structure

In [18]:
y_ts[:] = [x for i,x in enumerate(y_ts) if i not in y_bad_index]

In [19]:
len(y_ts)

351

# Standardization SDF file for test set

In [20]:
all_mols_ts[:] = [x for i,x in enumerate(all_mols_ts) if i not in y_bad_index] 
records = []
for i in range(len(all_mols_ts)):
    record = Chem.MolToSmiles(all_mols_ts[i])
    records.append(record)

moldf_ts = []
for i,record in enumerate(records):
    standard_record = standardize_smiles(record)
    m = Chem.MolFromSmiles(standard_record)
    moldf_ts.append(m)
    
print('Kept data: ', len(moldf_ts), 'molecules')

Kept data:  351 molecules

## Calculation MACCS Fingerprints for work set

In [21]:
fp_tr = [MACCSkeys.GenMACCSKeys(m) for m in moldf_ws]

In [22]:
def rdkit_numpy_convert(fp_tr):
    output = []
    for f in fp_tr:
        arr = np.zeros((1,))
        DataStructs.ConvertToNumpyArray(f, arr)
        output.append(arr)
    return np.asarray(output)

In [23]:
from numpy import savetxt
x_tr = rdkit_numpy_convert(fp_tr)

In [24]:
savetxt('Models/MACCS/x_tr_MACCS.csv', x_tr, delimiter=',')

In [25]:
x_tr.shape

(1400, 167)

## Calculation  MACCS Fingerprint for test set

In [26]:
fp_ts = [MACCSkeys.GenMACCSKeys(m) for m in moldf_ts]

In [27]:
def rdkit_numpy_convert(fp_ts):
    output = []
    for f in fp_ts:
        arr = np.zeros((1,))
        DataStructs.ConvertToNumpyArray(f, arr)
        output.append(arr)
    return np.asarray(output)

In [28]:
x_ts = rdkit_numpy_convert(fp_ts)

In [29]:
x_ts.shape

(351, 167)

In [30]:
x_tr = np.array(x_tr, dtype=np.float32)
y_tr = np.array(y_tr, dtype=np.float32)

# load the models from disk

In [31]:
best_svm = pickle.load(open('Models/MACCS/HDAC3_SVM_MACCS.pkl', 'rb'))

In [32]:
best_gbr = pickle.load(open('Models/MACCS/HDAC3_GBR_MACCS.pkl', 'rb'))

# Prediction for CV

In [33]:
seed = 42
cv=KFold(n_splits=5, random_state=seed, shuffle=True)

In [34]:
y_pred_CV_svm = cross_val_predict(best_svm, x_tr, y_tr, cv=cv)

In [35]:
y_pred_CV_gbr = cross_val_predict(best_gbr, x_tr, y_tr, cv=cv)

In [36]:
y_pred_con=(y_pred_CV_svm+y_pred_CV_gbr)/2

In [37]:
Q2_CV = round(r2_score(y_tr, y_pred_con), 2)
Q2_CV

0.65

In [38]:
RMSE_CV=round(np.sqrt(mean_squared_error(y_tr, y_pred_con)),2)
RMSE_CV

0.72

# Prediction for test set's molecules

In [39]:
x_ts = np.array(x_ts, dtype=np.float32)
y_ts = np.array(y_ts, dtype=np.float32)

In [40]:
y_pred_svm = best_svm.predict(x_ts)

In [41]:
y_pred_gbr = best_gbr.predict(x_ts)

In [42]:
y_pred_gbr

array([4.79640638, 4.75204972, 6.04487108, 6.06306689, 4.42571397,
       4.87845649, 5.14254134, 4.88647371, 5.32838866, 4.86429395,
       6.02858486, 4.87665135, 5.52812607, 5.2486104 , 5.28944772,
       5.47861364, 4.49922622, 5.94515092, 6.58184013, 4.91087555,
       4.9631871 , 7.02123526, 6.3068903 , 5.14586064, 5.2455138 ,
       5.10575487, 5.80295802, 5.03087249, 5.16072819, 5.39839116,
       5.45164341, 5.46950102, 5.89154704, 5.75426664, 5.62231332,
       5.18863533, 6.32958176, 4.90672449, 6.23311262, 5.7960439 ,
       7.48768521, 6.64007824, 5.17999387, 6.37990916, 4.84020458,
       6.11439643, 5.61532701, 5.26400584, 5.84664748, 5.1321642 ,
       6.7265028 , 5.71207233, 4.09580044, 5.74379806, 5.20364787,
       6.23663239, 5.72396079, 6.64856494, 6.13465317, 5.23921604,
       5.52631173, 6.48301395, 5.88391189, 5.17034246, 5.70460093,
       5.21380033, 5.43303779, 6.56680726, 5.49085941, 5.6426492 ,
       5.26169296, 5.51520531, 5.90869509, 6.17132466, 5.875984  ,
       6.32468872, 5.82778181, 5.57997159, 5.91834965, 5.48058127,
       6.25132156, 5.44435038, 6.05412315, 5.38915291, 5.96891262,
       6.35367516, 5.70220211, 5.99108439, 6.09880915, 6.28073028,
       5.57847336, 6.11327223, 6.77343455, 6.44116232, 5.73358799,
       6.04724436, 6.01433476, 6.44399784, 6.32468872, 5.87783044,
       5.88777714, 6.63803183, 6.98846857, 6.19324958, 5.70403858,
       5.96957612, 6.18598013, 6.47319506, 5.94063301, 6.44703496,
       6.62348936, 5.84845684, 6.3824071 , 5.81772408, 7.10889824,
       6.18862515, 6.2433292 , 7.23753442, 6.58608596, 6.31481522,
       6.78200561, 6.96593956, 6.85026185, 7.2710299 , 5.78760463,
       6.409357  , 6.95155001, 6.99922237, 6.10447306, 6.36442316,
       6.27834768, 6.10717383, 6.63246559, 6.11549936, 6.45850801,
       6.21369552, 5.98561424, 6.66057335, 6.38073234, 5.61226715,
       6.04400596, 6.46438847, 6.32541034, 5.99686174, 6.09880915,
       6.17465236, 5.88561335, 6.68465991, 6.36619105, 7.27842762,
       6.59939554, 6.06768811, 8.28593258, 6.89114231, 5.99035486,
       6.73783997, 6.64263438, 6.19162824, 6.48993691, 6.98383891,
       5.99686174, 6.50283742, 6.70556513, 7.28707921, 6.14441134,
       6.28694734, 6.93020362, 7.01446971, 6.28694734, 6.58601209,
       6.80664874, 6.85502162, 6.46070575, 8.97735899, 6.75288254,
       6.17248616, 6.77791466, 7.24063083, 6.38432334, 6.30803678,
       6.62235549, 6.99143912, 7.37445948, 6.51250525, 7.01446971,
       6.6137326 , 6.82581958, 6.61534702, 6.62399474, 7.50055557,
       5.64278324, 6.5338648 , 7.31051439, 6.45498502, 7.83449971,
       6.22713772, 6.2377834 , 6.09880915, 6.54531409, 6.63962003,
       6.34228725, 6.54195872, 7.02573108, 6.63621035, 6.07713084,
       7.08653188, 7.44265381, 7.54042177, 6.99776632, 7.90238548,
       6.49975357, 6.53643431, 6.18809557, 7.85568924, 6.79529207,
       6.95675172, 6.09880915, 6.98396193, 6.63376661, 6.23533391,
       7.06097355, 7.25268916, 6.47183235, 7.16393738, 7.14278934,
       5.95280877, 8.44595061, 5.89770362, 7.64853098, 6.35586731,
       6.49552957, 7.17656358, 7.27961151, 7.18866119, 6.38637767,
       6.6479472 , 5.94817773, 7.14123092, 8.75099605, 6.46085834,
       6.20848052, 5.65055976, 6.99765584, 5.93449581, 7.729113  ,
       6.1732792 , 7.64186557, 8.45570083, 7.290487  , 6.32678514,
       7.01274114, 6.99271222, 7.25754548, 7.43320826, 7.15680749,
       6.63621035, 7.098916  , 7.81383411, 7.53929675, 8.03523712,
       7.82490872, 6.75168659, 7.65296415, 7.36182716, 7.33073555,
       6.69682152, 7.41839037, 6.5612263 , 7.08102739, 7.29599599,
       6.68878369, 7.84889431, 6.86159078, 7.11870728, 7.01390001,
       7.55874215, 8.2822115 , 7.44833468, 7.36410907, 7.37783728,
       7.00419963, 7.44833468, 7.74574342, 7.23726813, 8.65970408,
       6.93262345, 7.87925416, 7.85322059, 5.87742127, 7.85544979,
       8.59104978, 9.46872881, 8.53858504, 8.09880535, 6.34573885,
       8.42926922, 7.57361842, 7.55207714, 8.65970408, 8.04986471,
       8.48019965, 8.02412243, 6.3009796 , 8.27195336, 7.82829764,
       7.09353167, 9.01430208, 9.10486823, 7.89494473, 7.67335649,
       7.07046124, 8.49124812, 7.85544979, 8.08816604, 6.94414268,
       6.51756115, 7.66169016, 7.74574342, 7.63552019, 6.70531275,
       7.94270497, 8.30404324, 7.4765836 , 9.77383854, 6.47987583,
       8.5008709 , 8.46411769, 8.54308466, 8.54724   , 8.61946302,
       8.07387991, 8.99451882, 8.9449745 , 7.99860422, 8.04436207,
       8.92906692, 8.93871571, 8.33047464, 9.13132688, 9.28180688,
       8.73382477, 9.15219432, 9.29035055, 9.22658776, 8.94548577,
       9.581547  , 8.71023111, 8.79580066, 9.10486823, 9.06990403,
       8.16286271])

In [43]:
y_pred_con=(y_pred_svm+y_pred_gbr)/2

In [44]:
Q2_TS = round(r2_score(y_ts, y_pred_con), 2)
Q2_TS

0.68

In [46]:
RMSE_TS=round(np.sqrt(mean_squared_error(y_ts, y_pred_con)), 2)
RMSE_TS

0.69

# Estimating applicability domain. Method - Euclidian distances, K=1

In [47]:
neighbors_k= pairwise_distances(x_tr, n_jobs=-1)
neighbors_k.sort(0)

In [48]:
df_tr=pd.DataFrame(neighbors_k)
df_tr

,0,1,2,3,4,5,6,7,8,9,...,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,2.000000,2.449490,1.414214,2.645751,3.316625,3.000000,2.000000,...,3.162278,2.236068,1.414214,1.000000,1.414214,1.414214,1.000000,0.000000,3.464102,0.000000
2,1.000000,0.000000,3.000000,2.645751,3.872983,3.316625,3.000000,3.605551,3.605551,2.645751,...,3.464102,2.828427,1.414214,1.000000,1.414214,1.414214,1.000000,0.000000,4.000000,0.000000
3,1.000000,0.000000,3.000000,3.000000,3.872983,3.464102,3.741657,3.741657,3.741657,2.828427,...,3.605551,3.464102,1.732051,1.000000,1.414214,1.414214,1.000000,1.000000,4.242640,2.000000
4,1.000000,1.000000,3.316625,3.162278,4.690416,3.464102,3.872983,3.741657,3.741657,2.828427,...,3.741657,3.605551,2.000000,1.000000,1.414214,1.414214,1.000000,1.414214,4.358899,2.236068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,7.874008,7.615773,7.937254,7.874008,8.062258,8.062258,7.874008,7.549834,8.062258,7.937254,...,7.745967,7.745967,8.246211,8.246211,8.366600,8.485281,8.306623,8.366600,8.306623,8.426149
1396,7.874008,7.745967,8.000000,7.874008,8.062258,8.124039,7.874008,7.549834,8.185352,8.000000,...,7.745967,7.745967,8.246211,8.246211,8.366600,8.485281,8.366600,8.426149,8.366600,8.426149
1397,8.000000,7.745967,8.426149,8.000000,8.062258,8.124039,8.000000,7.615773,8.185352,8.062258,...,7.745967,7.810250,8.426149,8.246211,8.426149,8.544003,8.485281,8.544003,8.366600,8.544003
1398,8.062258,7.810250,8.485281,8.062258,8.185352,8.124039,8.000000,7.615773,8.185352,8.062258,...,7.810250,7.874008,8.426149,8.306623,8.426149,8.544003,8.602325,8.660254,8.544003,8.544003
1399,8.124039,7.874008,8.602325,8.124039,8.185352,8.306623,8.185352,7.810250,8.306623,8.062258,...,8.185352,7.874008,8.426149,8.306623,8.544003,8.660254,8.602325,8.660254,8.544003,8.544003

In [49]:
similarity= neighbors_k

In [50]:
Dmean=np.mean(similarity[1,:])

In [51]:
round(Dmean, 2)

1.52

In [52]:
std=np.std(similarity[1,:])

In [53]:
round(std, 2)

1.21

In [54]:
model_AD_limit=Dmean+std*0.5
print(np.round(model_AD_limit, 2))

2.12

In [55]:
neighbors_k_ts= pairwise_distances(x_tr,Y=x_ts, n_jobs=-1)
neighbors_k_ts.sort(0)

In [56]:
x_ts_AD=pd.DataFrame(neighbors_k_ts)
x_ts_AD

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
0,0.000000,3.464102,4.472136,2.645751,2.236068,2.645751,2.828427,1.414214,2.645751,3.162278,...,1.414214,2.828427,2.000000,1.414214,0.000000,0.000000,1.732051,0.000000,2.000000,1.414214
1,0.000000,4.242640,4.690416,2.828427,3.162278,2.828427,2.828427,1.732051,3.000000,3.162278,...,2.000000,3.000000,2.236068,1.732051,0.000000,0.000000,1.732051,1.000000,2.236068,1.732051
2,0.000000,5.000000,4.690416,2.828427,3.316625,3.605551,3.605551,2.000000,3.162278,3.316625,...,3.000000,3.316625,2.449490,1.732051,0.000000,1.000000,2.000000,1.000000,2.236068,2.236068
3,1.000000,5.196152,4.795832,3.000000,3.605551,3.741657,3.872983,2.828427,3.316625,3.316625,...,3.316625,3.464102,3.162278,1.732051,2.000000,1.000000,2.000000,1.000000,2.236068,2.236068
4,1.000000,5.291502,4.795832,3.000000,5.385165,3.741657,4.123106,3.000000,3.464102,3.316625,...,3.316625,3.605551,3.605551,2.000000,2.236068,1.414214,2.236068,1.000000,2.236068,2.449490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,7.937254,7.874008,8.185352,7.874008,8.544003,8.185352,8.306623,8.185352,7.810250,8.306623,...,7.681146,7.874008,7.615773,8.485281,8.426149,8.485281,8.185352,8.185352,8.185352,8.062258
1396,7.937254,7.874008,8.185352,7.937254,8.544003,8.246211,8.306623,8.660254,7.810250,8.366600,...,7.681146,7.874008,7.681146,8.485281,8.426149,8.485281,8.185352,8.185352,8.246211,8.062258
1397,8.062258,7.874008,8.246211,8.000000,8.602325,8.246211,8.306623,8.660254,7.810250,8.366600,...,7.745967,7.937254,7.745967,8.485281,8.544003,8.660254,8.366600,8.185352,8.306623,8.062258
1398,8.124039,7.937254,8.306623,8.000000,8.602325,8.306623,8.306623,8.717798,7.937254,8.366600,...,8.000000,7.937254,7.745967,8.544003,8.544003,8.660254,8.366600,8.246211,8.366600,8.246211
1399,8.185352,8.062258,8.306623,8.062258,8.717798,8.426149,8.306623,8.774964,8.185352,8.485281,...,8.000000,8.000000,7.874008,8.544003,8.544003,8.660254,8.366600,8.246211,8.366600,8.246211

In [57]:
similarity_ts= neighbors_k_ts
cpd_AD=similarity_ts[0,:]
cpd_value = np.round(cpd_AD, 3)
print(cpd_value)

[0.    3.464 4.472 2.646 2.236 2.646 2.828 1.414 2.646 3.162 2.449 2.
 3.606 3.606 3.317 1.    1.414 1.414 2.449 2.236 1.    3.742 2.449 0.
 1.414 1.    1.    0.    1.    1.    3.606 1.    2.449 1.414 1.414 1.
 2.236 2.    1.414 2.828 3.    3.464 2.449 3.    2.449 1.732 2.236 2.449
 1.    1.    2.449 1.414 1.732 0.    1.    4.69  1.    0.    0.    0.
 0.    1.    3.    4.69  3.873 0.    3.162 2.    0.    2.646 2.449 1.
 1.732 2.    1.414 0.    1.732 1.    1.732 1.    0.    1.    1.732 0.
 2.828 0.    1.414 1.    0.    3.742 1.    4.123 1.414 2.236 0.    2.646
 1.    0.    0.    1.414 4.899 1.732 3.    0.    1.    0.    2.    0.
 1.414 0.    0.    1.414 1.414 1.    2.646 1.    1.    1.    1.732 1.
 3.162 1.732 3.    2.449 1.    2.828 1.414 1.414 1.    1.    1.414 3.317
 1.    0.    1.414 0.    0.    1.    3.873 1.    3.742 2.236 2.    3.873
 0.    2.    1.    1.414 1.414 2.828 2.449 1.414 0.    0.    0.    2.236
 2.    2.236 1.    1.414 3.873 0.    0.    2.646 0.    1.414 2.    0.
 1.414 1.    0.    0.    0.    0.    0.    3.317 2.646 1.    2.449 1.414
 1.732 2.    2.646 1.    0.    0.    1.414 0.    0.    1.    1.414 0.
 1.414 1.    2.828 2.236 1.    0.    1.    1.    2.236 0.    0.    0.
 1.    3.    0.    1.414 1.732 1.414 1.732 0.    2.    1.    1.    1.
 0.    1.414 0.    2.646 2.    1.    0.    1.    2.449 2.    1.732 0.
 0.    2.    1.    0.    2.236 0.    1.732 2.    4.243 0.    2.    1.414
 2.    3.162 1.732 4.    1.414 1.    0.    1.    2.    2.236 1.    0.
 1.414 1.732 0.    0.    0.    0.    0.    0.    2.828 1.    4.472 0.
 0.    2.449 0.    0.    0.    1.    0.    1.732 1.    3.317 2.449 0.
 3.317 0.    3.317 2.449 2.    0.    1.    1.414 0.    2.646 1.    0.
 4.69  1.414 3.    1.    2.236 3.162 2.    3.464 2.236 0.    0.    0.
 1.    0.    2.646 1.414 2.    3.    0.    0.    1.    2.236 3.162 2.449
 1.414 2.449 3.464 2.    0.    1.    3.742 1.414 1.414 0.    1.732 1.
 1.    0.    1.414 0.    1.    1.732 2.828 0.    1.414 0.    1.    0.
 1.    2.    1.414 0.    1.414 1.414 2.828 2.    1.414 0.    0.    1.732
 0.    2.    1.414]

In [58]:
cpd_AD = np.where(cpd_value <= model_AD_limit, True, False)
print(cpd_AD)

[ True False False False False False False  True False False False  True
 False False False  True  True  True False False  True False False  True
  True  True  True  True  True  True False  True False  True  True  True
 False  True  True False False False False False False  True False False
  True  True False  True  True  True  True False  True  True  True  True
  True  True False False False  True False  True  True False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True False  True False  True False  True False
  True  True  True  True False  True False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
 False  True False False  True False  True  True  True  True  True False
  True  True  True  True  True  True False  True False False  True False
  True  True  True  True  True False False  True  True  True  True False
  True False  True  True False  True  True False  True  True  True  True
  True  True  True  True  True  True  True False False  True False  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True False False  True  True  True  True False  True  True  True
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True False  True  True  True
  True  True  True  True False  True  True  True False  True  True  True
  True False  True False  True  True  True  True  True False  True  True
  True  True  True  True  True  True  True  True False  True False  True
  True False  True  True  True  True  True  True  True False False  True
 False  True False False  True  True  True  True  True False  True  True
 False  True False  True False False  True False False  True  True  True
  True  True False  True  True False  True  True  True False False False
  True False False  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True]

In [59]:
print("Coverage = ", sum(cpd_AD) / len(cpd_AD))

Coverage =  0.7207977207977208

In [60]:
print("Indices of substances included in AD = ", np.where(cpd_AD != 0)[0])

Indices of substances included in AD =  [  0   7  11  15  16  17  20  23  24  25  26  27  28  29  31  33  34  35
  37  38  45  48  49  51  52  53  54  56  57  58  59  60  61  65  67  68
  71  72  73  74  75  76  77  78  79  80  81  82  83  85  86  87  88  90
  92  94  96  97  98  99 101 103 104 105 106 107 108 109 110 111 112 113
 115 116 117 118 119 121 124 126 127 128 129 130 132 133 134 135 136 137
 139 142 144 145 146 147 148 151 152 153 154 156 158 159 161 162 164 165
 166 167 168 169 170 171 172 173 174 177 179 180 181 183 184 185 186 187
 188 189 190 191 192 193 196 197 198 199 201 202 203 204 206 207 208 209
 210 211 212 213 214 215 216 217 218 220 221 222 223 225 226 227 228 229
 230 231 233 234 235 237 238 239 240 242 244 245 246 247 248 250 251 252
 253 254 255 256 257 258 259 261 263 264 266 267 268 269 270 271 272 275
 277 280 281 282 283 284 286 287 289 291 294 297 298 299 300 301 303 304
 306 307 308 312 315 316 317 319 320 321 322 323 324 325 326 327 328 329
 331 332 333 334 335 336 337 338 339 340 341 343 344 345 346 347 348 349
 350]

In [61]:
out_Ad=list(np.where(cpd_AD == 0)[0])

# Prediction only for molecules included in  AD

In [62]:
y_pred_con_ad=list(y_pred_con)

In [63]:
y_pred_con_ad[:] = [x for i,x in enumerate(y_pred_con_ad) if i not in out_Ad]

In [64]:
len(y_pred_con_ad)

253

In [65]:
y_ts_ad=list(y_ts)

In [66]:
y_ts_ad[:] = [x for i,x in enumerate(y_ts_ad) if i not in out_Ad]

In [67]:
len(y_ts_ad)

253

In [68]:
Q2_TS = round(r2_score(y_ts_ad, y_pred_con_ad), 2)
Q2_TS

0.73

In [69]:
RMSE_TS=round(np.sqrt(mean_squared_error(y_ts_ad, y_pred_con_ad)), 2)
RMSE_TS

0.61