# Importing modules and functions

In [2]:
import numpy as np
import pandas as pd
from rdkit import Chem, DataStructs
from rdkit.Chem import AllChem, Descriptors
from rdkit.ML.Descriptors import MoleculeDescriptors
import chembl_structure_pipeline
from molvs import standardize_smiles
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.model_selection import permutation_test_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import pairwise_distances
import joblib
import pickle
from numpy import savetxt
from padelpy import from_sdf
from IPython.display import HTML
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings('ignore')

# Data entry and curation work set

In [3]:
uploaded_file_ws="datasets/HDAC3_work.sdf"
supplier_ws = Chem.ForwardSDMolSupplier(uploaded_file_ws,sanitize=False)
failed_mols_ws = []
all_mols_ws =[]
wrong_structure_ws=[]
wrong_smiles_ws=[]
y_tr = []
y_bad_index=[]

for i, m in enumerate(supplier_ws):
    structure = Chem.Mol(m)
    all_mols_ws.append(structure)
    y_tr.append(m.GetProp("pchembl_value_mean"))
    try:
        Chem.SanitizeMol(structure)
    except:
        failed_mols_ws.append(m)
        wrong_smiles_ws.append(Chem.MolToSmiles(m))
        wrong_structure_ws.append(str(i+1))
        y_bad_index.append(i)
print('Original data: ', len(all_mols_ws), 'molecules')
print('Failed data: ', len(failed_mols_ws), 'molecules')
number_ws =[]
for i in range(len(failed_mols_ws)):
        number_ws.append(str(i+1))
bad_molecules_ws = pd.DataFrame({'No. failed molecule in original set': wrong_structure_ws, 'SMILES of wrong structure: ': wrong_smiles_ws, 'No.': number_ws}, index=None)
bad_molecules_ws = bad_molecules_ws.set_index('No.')
bad_molecules_ws

Original data:  1400 molecules
Failed data:  0 molecules

Empty DataFrame
Columns: [No. failed molecule in original set, SMILES of wrong structure: ]
Index: []

deleting activity values for substances with incorrect structure

In [4]:
y_tr[:] = [x for i,x in enumerate(y_tr) if i not in y_bad_index]

In [5]:
len(y_tr)

1400

# Standardization SDF file for work set

In [6]:
all_mols_ws[:] = [x for i,x in enumerate(all_mols_ws) if i not in y_bad_index] 
records = []
for i in range(len(all_mols_ws)):
    record = Chem.MolToSmiles(all_mols_ws[i])
    records.append(record)

moldf_ws = []
for i,record in enumerate(records):
    standard_record = standardize_smiles(record)
    m = Chem.MolFromSmiles(standard_record)
    moldf_ws.append(m)
    
print('Kept data: ', len(moldf_ws), 'molecules')

Kept data:  1400 molecules

# Data entry and curation test set

In [7]:
uploaded_file_ts="datasets/HDAC3_test.sdf"
supplier_ts = Chem.ForwardSDMolSupplier(uploaded_file_ts,sanitize=False)
failed_mols_ts = []
all_mols_ts =[]
wrong_structure_ts=[]
wrong_smiles_ts=[]
y_ts = []
y_bad_index=[]
for i, m in enumerate(supplier_ts):
    structure = Chem.Mol(m)
    all_mols_ts.append(structure)
    y_ts.append(m.GetProp("pchembl_value_mean"))
    try:
        Chem.SanitizeMol(structure)
    except:
        failed_mols_ts.append(m)
        wrong_smiles_ts.append(Chem.MolToSmiles(m))
        wrong_structure_ts.append(str(i+1))
        y_bad_index.append(i)
print('Original data: ', len(all_mols_ts), 'molecules')
print('Failed data: ', len(failed_mols_ts), 'molecules')
number_ts =[]
for i in range(len(failed_mols_ts)):
        number_ts.append(str(i+1))
bad_molecules_ts = pd.DataFrame({'No. failed molecule in original set': wrong_structure_ts, 'SMILES of wrong structure: ': wrong_smiles_ts, 'No.': number_ts}, index=None)
bad_molecules_ts = bad_molecules_ts.set_index('No.')
bad_molecules_ts

Original data:  351 molecules
Failed data:  0 molecules

Empty DataFrame
Columns: [No. failed molecule in original set, SMILES of wrong structure: ]
Index: []

deleting activity values for substances with incorrect structure

In [8]:
y_ts[:] = [x for i,x in enumerate(y_ts) if i not in y_bad_index]

In [9]:
len(y_ts)

351

# Standardization SDF file for test set

In [10]:
all_mols_ts[:] = [x for i,x in enumerate(all_mols_ts) if i not in y_bad_index] 
records = []
for i in range(len(all_mols_ts)):
    record = Chem.MolToSmiles(all_mols_ts[i])
    records.append(record)

moldf_ts = []
for i,record in enumerate(records):
    standard_record = standardize_smiles(record)
    m = Chem.MolFromSmiles(standard_record)
    moldf_ts.append(m)
    
print('Kept data: ', len(moldf_ts), 'molecules')

Kept data:  351 molecules

# Calculation MorganFingerprint for work set

In [13]:
fp_tr = [AllChem.GetMorganFingerprintAsBitVect(m, radius=2,nBits=1024,useFeatures=False,useChirality = False) for m in moldf_ws]

In [14]:
def rdkit_numpy_convert(fp_tr):
    output = []
    for f in fp_tr:
        arr = np.zeros((1,))
        DataStructs.ConvertToNumpyArray(f, arr)
        output.append(arr)
    return np.asarray(output)

In [15]:
from numpy import savetxt
x_tr = rdkit_numpy_convert(fp_tr)

In [16]:
savetxt('Models/Morgan_fingerprint/x_tr_MF.csv', x_tr, delimiter=',')

In [17]:
x_tr.shape

(1400, 1024)

# Calculation MorganFingerprint for test set

In [18]:
fp_ts = [AllChem.GetMorganFingerprintAsBitVect(m, radius=2,nBits=1024,useFeatures=False,useChirality = False) for m in moldf_ts]

In [19]:
def rdkit_numpy_convert(fp_ts):
    output = []
    for f in fp_ts:
        arr = np.zeros((1,))
        DataStructs.ConvertToNumpyArray(f, arr)
        output.append(arr)
    return np.asarray(output)

In [20]:
x_ts = rdkit_numpy_convert(fp_ts)

In [21]:
x_ts.shape

(351, 1024)

In [22]:
type(x_tr)

numpy.ndarray

In [23]:
x_tr

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [24]:
x_tr = np.array(x_tr, dtype=np.float32)
y_tr = np.array(y_tr, dtype=np.float32)

In [25]:
y_tr

array([ 4.01,  4.04,  4.05, ..., 10.03, 10.06, 10.1 ], dtype=float32)

# load the models from disk

In [26]:
best_svm = pickle.load(open('Models/Morgan_fingerprint/HDAC3_SVM_MF.pkl', 'rb'))

In [27]:
best_gbr = pickle.load(open('Models/Morgan_fingerprint/HDAC3_GBR_MF.pkl', 'rb'))

# Prediction for CV

In [28]:
seed = 42
cv=KFold(n_splits=5, random_state=seed, shuffle=True)

In [29]:
y_pred_CV_svm = cross_val_predict(best_svm, x_tr, y_tr, cv=cv)

In [30]:
y_pred_CV_gbr = cross_val_predict(best_gbr, x_tr, y_tr, cv=cv)

In [31]:
y_pred_con=(y_pred_CV_svm+y_pred_CV_gbr)/2

In [32]:
Q2_CV = round(r2_score(y_tr, y_pred_con), 2)
Q2_CV

0.7

In [33]:
RMSE_CV=round(np.sqrt(mean_absolute_error(y_tr, y_pred_con)),2)
RMSE_CV

0.7

# Prediction for test set's molecules

In [34]:
x_ts = np.array(x_ts, dtype=np.float32)
y_ts = np.array(y_ts, dtype=np.float32)

In [35]:
y_pred_svm = best_svm.predict(x_ts)

In [36]:
y_pred_gbr = best_gbr.predict(x_ts)

In [37]:
y_pred_gbr

array([4.33530087, 4.92019796, 6.33850105, 5.61298938, 4.66548568,
       4.22747815, 4.80007532, 5.11295123, 4.85948534, 4.10785348,
       5.84342459, 4.89217092, 4.88116074, 5.95690906, 6.10333303,
       6.02826741, 4.45179087, 5.33311643, 5.42475872, 4.5987074 ,
       5.04725274, 6.64973201, 5.87810762, 5.54024464, 4.85238553,
       5.73250669, 5.78431075, 5.31192856, 5.15940526, 5.1936824 ,
       5.12175071, 4.86579267, 5.65600813, 5.67641794, 5.30004646,
       5.69266052, 6.35433112, 5.08429907, 5.53999111, 5.80232175,
       7.07048481, 6.44070303, 4.94377261, 6.36352413, 5.00317826,
       6.54079048, 5.24344704, 5.88203256, 6.61591194, 5.33647072,
       6.38765979, 5.32054809, 5.62509542, 5.44312504, 6.80611167,
       6.66461085, 5.55168596, 6.17111045, 6.29218247, 5.77209938,
       5.64606314, 6.22992255, 4.93330218, 5.1718819 , 5.65574294,
       5.66753126, 6.44485836, 7.01500601, 5.8264116 , 6.33242449,
       5.79232292, 5.72288092, 5.78751115, 5.63883912, 5.75520826,
       6.31534425, 5.85710181, 5.84766227, 5.71190629, 5.97689277,
       5.89341371, 5.55260791, 5.89468267, 5.66124421, 5.86994986,
       6.45772085, 6.24430329, 6.31290095, 6.02495617, 4.77371057,
       5.52785388, 5.55254568, 6.87191769, 6.14748583, 5.80646064,
       6.10365784, 5.80117769, 6.28725788, 6.31534425, 6.07456576,
       6.11198636, 6.33958906, 6.68594363, 6.20802582, 5.79776959,
       6.291882  , 5.29303188, 6.45783833, 5.49891821, 6.0990328 ,
       6.17405804, 6.14758079, 5.9789429 , 5.89020143, 5.99614386,
       6.12605132, 6.11442001, 7.48474783, 6.32884795, 6.25603353,
       7.36869206, 6.73448189, 6.27031271, 7.03522293, 5.82266668,
       6.49740062, 6.92042158, 6.93849804, 6.25062661, 6.66761853,
       6.44368225, 6.21407022, 6.56960252, 6.39666721, 6.30734904,
       6.41902788, 5.92509946, 6.46867255, 6.59362677, 5.35738892,
       6.36113089, 6.23104004, 6.37723791, 6.67005279, 6.3700687 ,
       6.10596118, 6.02518445, 6.47627596, 6.42228754, 5.90067726,
       5.71275275, 6.70497317, 7.27568991, 6.94292533, 6.08824315,
       6.32280429, 6.13927116, 6.39825965, 6.3553487 , 6.63176683,
       6.74853612, 6.31878048, 6.51153691, 7.54750057, 6.12437627,
       6.59615729, 6.68974292, 6.85294068, 6.21166564, 6.67758455,
       6.60773455, 6.67449528, 6.36301448, 8.70136602, 6.96878116,
       6.03718426, 6.21898749, 7.6826906 , 6.40643334, 6.25435806,
       6.2920596 , 6.52038583, 7.32118947, 6.20438786, 6.76950408,
       6.72183691, 6.97240213, 6.45858386, 6.12099021, 7.1849295 ,
       5.83332001, 6.56047112, 6.72754469, 6.59454137, 7.15638717,
       6.64004747, 6.14517105, 6.40098487, 5.99489373, 6.50783654,
       6.04042689, 6.33475409, 7.05703768, 6.93066671, 5.84078323,
       7.3980704 , 7.10932153, 6.95878642, 6.88698708, 7.910295  ,
       6.01856091, 6.41516331, 5.94393522, 7.83417437, 6.8696859 ,
       7.31600082, 6.46222555, 6.73164972, 6.66726498, 7.17716777,
       7.32825638, 6.95303169, 6.44946423, 6.92084744, 7.48678367,
       5.54007239, 8.61694215, 5.91648259, 7.08039242, 6.29753147,
       6.39021042, 5.87546538, 7.25804909, 7.04148134, 6.41801276,
       6.92389539, 6.08072362, 7.14420691, 8.26876093, 6.91973593,
       6.2519283 , 7.28197351, 6.84864941, 6.7707581 , 7.45367088,
       6.24621869, 7.10227609, 7.41858853, 7.39358655, 6.5312537 ,
       6.84220818, 6.45868572, 6.96010464, 7.86638196, 7.19103697,
       7.19831022, 7.17351212, 8.59902318, 6.99566418, 7.58825253,
       7.2405227 , 6.94802329, 8.40050904, 7.0943367 , 7.12976359,
       7.06375078, 7.3571563 , 6.3276185 , 7.14981645, 7.40668176,
       6.58362066, 7.23240498, 7.21410952, 6.99212334, 7.18755046,
       7.23690198, 8.19682691, 7.38253674, 7.366453  , 6.96687795,
       7.18054809, 6.93392475, 7.94987875, 7.4912296 , 8.3316213 ,
       7.31377836, 7.69843969, 7.99939798, 5.88823723, 7.59047689,
       8.47342961, 8.25725656, 8.32280228, 7.75829013, 6.89454467,
       8.6133562 , 7.70753692, 7.09300683, 8.2951413 , 8.01137392,
       7.8821819 , 8.33498091, 6.77991538, 8.49145229, 7.1805016 ,
       7.6874894 , 8.68457898, 8.73107424, 7.66062749, 6.93097745,
       7.66730402, 7.9661841 , 7.90036967, 8.19743024, 6.98442631,
       6.72760833, 7.28534981, 7.94987875, 8.71386048, 7.09334205,
       8.5034979 , 8.0857101 , 7.62759258, 9.39063335, 6.43288321,
       8.14796287, 8.88145949, 8.53901016, 8.79972208, 8.35344646,
       8.33949804, 8.77057304, 8.75207532, 8.32108882, 8.813425  ,
       8.71049332, 8.85892441, 8.94458458, 9.17162473, 9.07774508,
       8.92983713, 9.21000246, 9.08205806, 9.244882  , 9.23572982,
       8.70670778, 9.03430845, 9.02386191, 8.21761522, 8.30659977,
       8.62565545])

In [38]:
y_pred_con=(y_pred_svm+y_pred_gbr)/2

In [39]:
Q2_TS = round(r2_score(y_ts, y_pred_con), 2)
Q2_TS

0.73

In [40]:
RMSE_TS=round(np.sqrt(mean_absolute_error(y_ts, y_pred_con)), 2)
RMSE_TS

0.69

# Estimating applicability domain. Method - Euclidian distances, K=1

In [41]:
neighbors_k= pairwise_distances(x_tr, n_jobs=-1)
neighbors_k.sort(0)

In [42]:
df_tr=pd.DataFrame(neighbors_k)
df_tr

,0,1,2,3,4,5,6,7,8,9,...,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,3.316625,3.464102,3.316625,3.316625,3.316625,4.242640,4.000000,5.656854,4.123106,4.795832,...,4.000000,3.605551,4.123106,2.645751,3.605551,3.316625,3.605551,3.464102,5.744563,5.000000
2,3.872983,4.000000,4.358899,3.464102,3.872983,4.242640,4.123106,6.164414,4.898980,5.477226,...,5.744563,3.741657,4.582576,4.795832,3.872983,3.605551,4.000000,3.741657,6.557438,5.099020
3,4.000000,4.123106,4.582576,4.123106,4.472136,4.898980,4.472136,6.324555,5.656854,5.477226,...,6.480741,3.872983,4.795832,4.898980,4.000000,3.741657,4.690416,3.741657,6.782330,5.656854
4,4.000000,4.123106,5.477226,4.242640,5.196152,5.000000,4.898980,6.403124,5.830952,5.567764,...,6.557438,5.000000,5.000000,5.000000,4.000000,3.741657,5.196152,3.872983,6.782330,5.656854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,9.797959,9.848858,10.583005,10.000000,10.000000,9.643651,10.392304,10.099504,10.488089,10.344080,...,10.488089,10.246951,11.090536,10.908712,10.816654,10.954452,11.045361,11.135529,10.723805,11.135529
1396,9.848858,9.848858,10.583005,10.049875,10.049875,9.643651,10.392304,10.198039,10.488089,10.392304,...,10.630146,10.246951,11.135529,10.954452,10.908712,11.000000,11.090536,11.135529,10.770329,11.180340
1397,10.099504,10.049875,10.630146,10.148891,10.099504,9.848858,10.440307,10.344080,10.488089,10.440307,...,10.723805,10.295630,11.135529,11.045361,10.908712,11.045361,11.090536,11.180340,10.862781,11.180340
1398,10.148891,10.198039,10.723805,10.198039,10.148891,10.000000,10.440307,10.392304,10.630146,10.488089,...,10.770329,10.295630,11.224972,11.045361,10.908712,11.135529,11.180340,11.269427,10.954452,11.313708
1399,11.045361,10.908712,11.958261,11.532562,11.445523,11.661903,11.618950,11.789826,11.704700,11.135529,...,11.832160,11.575837,12.124355,11.180340,11.661903,11.874342,12.000000,12.000000,11.789826,12.369317

In [43]:
similarity= neighbors_k

In [44]:
Dmean=np.mean(similarity[1,:])

In [45]:
round(Dmean, 2)

3.46

In [46]:
std=np.std(similarity[1,:])

In [47]:
round(std, 2)

1.43

In [48]:
model_AD_limit=Dmean+std*0.5
print(np.round(model_AD_limit, 2))

4.17

In [49]:
neighbors_k_ts= pairwise_distances(x_tr,Y=x_ts, n_jobs=-1)
neighbors_k_ts.sort(0)

In [50]:
x_ts_AD=pd.DataFrame(neighbors_k_ts)
x_ts_AD

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
0,0.000000,3.605551,8.000000,4.242640,4.690416,4.123106,4.123106,3.605551,3.464102,4.472136,...,3.464102,3.741657,3.162278,4.242640,4.242640,4.123106,3.872983,4.472136,5.000000,2.449490
1,3.464102,4.898980,8.124039,4.898980,5.000000,4.358899,4.123106,3.872983,3.741657,5.099020,...,3.605551,3.741657,3.316625,4.358899,4.690416,4.472136,4.000000,4.582576,5.291502,3.000000
2,3.872983,6.324555,8.124039,5.000000,5.744563,4.472136,4.795832,3.872983,5.099020,5.099020,...,3.741657,3.741657,3.464102,5.196152,4.898980,4.472136,4.472136,4.582576,5.567764,3.464102
3,3.872983,6.324555,8.185352,5.385165,5.916080,5.830952,5.830952,4.898980,5.567764,5.567764,...,4.358899,3.872983,4.123106,5.291502,5.099020,4.582576,4.690416,4.582576,5.830952,5.744563
4,4.000000,6.403124,8.246211,5.567764,7.211102,5.830952,6.082763,5.099020,6.000000,5.567764,...,4.582576,4.582576,4.582576,5.291502,5.916080,4.582576,5.000000,4.690416,6.782330,5.916080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,9.797959,9.899495,11.489125,11.045361,10.344080,10.440307,10.677078,9.949874,10.295630,10.488089,...,10.246951,10.198039,10.148891,11.135529,10.770329,10.954452,11.045361,10.816654,11.135529,11.180340
1396,9.899495,9.899495,11.532562,11.045361,10.488089,10.440307,10.723805,10.000000,10.344080,10.488089,...,10.344080,10.295630,10.246951,11.135529,10.816654,11.000000,11.090536,10.862781,11.135529,11.180340
1397,10.049875,9.949874,11.532562,11.090536,10.583005,10.440307,10.723805,10.000000,10.440307,10.488089,...,10.392304,10.440307,10.295630,11.180340,10.862781,11.000000,11.090536,10.908712,11.269427,11.180340
1398,10.099504,10.049875,11.747340,11.135529,10.630146,10.488089,10.862781,10.049875,10.583005,10.535654,...,10.488089,10.488089,10.392304,11.313708,10.954452,11.090536,11.180340,11.045361,11.313708,11.224972
1399,10.908712,11.618950,12.727922,11.916375,12.165525,12.247449,11.832160,11.789826,11.916375,12.247449,...,11.489125,11.618950,11.401754,11.958261,11.958261,12.083046,12.000000,11.532562,11.618950,11.489125

In [51]:
similarity_ts= neighbors_k_ts
cpd_AD=similarity_ts[0,:]
cpd_value = np.round(cpd_AD, 3)
print(cpd_value)

[0.    3.606 8.    4.243 4.69  4.123 4.123 3.606 3.464 4.472 4.796 3.742
 3.606 5.745 5.745 1.    2.449 3.464 5.099 4.    3.162 4.    4.899 1.
 3.317 1.    3.162 2.449 3.606 3.464 5.099 4.359 5.    4.123 4.123 2.
 4.472 3.606 2.449 3.742 4.69  5.831 3.464 5.385 3.873 4.583 5.477 4.359
 1.    1.414 3.606 4.583 3.464 3.317 2.236 6.    3.    3.162 3.606 3.162
 3.606 3.464 3.606 5.385 4.123 2.    5.099 4.472 1.    5.    5.099 3.162
 3.    3.742 1.    0.    3.317 3.742 3.317 4.359 4.472 2.646 3.317 3.162
 4.472 2.828 4.    3.464 2.449 4.899 2.828 6.557 4.69  3.162 0.    3.317
 2.828 4.243 0.    3.317 7.348 3.    4.    0.    4.    2.646 4.123 0.
 3.464 1.    2.236 3.606 3.    3.    6.164 1.    3.606 0.    4.123 3.317
 3.873 3.464 4.796 4.123 4.243 4.    3.606 3.    3.    3.873 1.732 4.123
 3.464 3.317 2.828 3.    3.    4.    4.359 1.414 6.164 3.873 3.464 3.606
 3.606 3.162 2.828 3.742 4.359 6.403 3.162 3.873 3.162 3.317 0.    2.828
 3.742 4.123 4.583 3.    3.873 3.606 3.162 3.873 0.    4.    4.359 2.236
 4.    3.162 3.    3.    2.646 3.317 3.162 5.099 3.464 3.606 3.464 4.
 3.162 4.472 5.    3.162 2.    3.606 3.317 3.873 3.742 3.317 3.606 3.464
 3.464 2.449 4.243 3.606 3.873 3.    1.    3.317 3.162 3.    2.828 3.873
 1.732 3.464 3.317 4.359 1.732 3.    3.    0.    3.317 3.    3.317 4.123
 3.162 3.162 3.317 5.    3.606 3.162 0.    3.742 4.359 3.873 3.464 0.
 3.    4.472 1.732 4.472 3.873 2.828 3.464 3.464 4.69  3.606 4.472 3.873
 3.317 4.69  3.162 6.708 3.317 4.583 1.    1.    3.873 3.162 2.828 3.162
 3.162 4.359 0.    3.606 3.162 3.464 3.317 3.317 5.196 3.317 8.66  2.646
 2.828 3.464 3.162 3.464 3.    3.162 0.    3.606 3.162 5.745 4.359 3.162
 4.69  3.162 3.873 3.873 3.162 4.    3.162 3.606 3.464 6.403 3.    3.742
 6.325 4.69  5.099 3.    4.    7.071 2.236 4.796 4.243 3.317 3.742 0.
 1.    0.    5.745 3.    3.    4.69  3.464 3.317 3.606 4.472 5.196 3.
 4.69  3.873 6.708 3.162 2.828 3.162 3.742 3.162 3.162 2.449 4.796 3.162
 1.    4.    3.464 0.    4.583 2.449 2.828 2.    3.873 2.828 3.873 3.162
 2.828 3.606 3.464 3.464 3.    3.464 3.742 3.162 4.243 4.243 4.123 3.873
 4.472 5.    2.449]

In [52]:
cpd_AD = np.where(cpd_value <= model_AD_limit, True, False)
print(cpd_AD)

[ True  True False False False  True  True  True  True False False  True
  True False False  True  True  True False  True  True  True False  True
  True  True  True  True  True  True False False False  True  True  True
 False  True  True  True False False  True False  True False False False
  True  True  True False  True  True  True False  True  True  True  True
  True  True  True False  True  True False False  True False False  True
  True  True  True  True  True  True  True False False  True  True  True
 False  True  True  True  True False  True False False  True  True  True
  True False  True  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True False  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True False  True  True  True
  True  True  True  True False False  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True False  True  True  True  True
  True False False  True  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True False  True  True  True
  True False  True False  True  True  True  True False  True False  True
  True False  True False  True False  True  True  True  True  True  True
  True False  True  True  True  True  True  True False  True False  True
  True  True  True  True  True  True  True  True  True False False  True
 False  True  True  True  True  True  True  True  True False  True  True
 False False False  True  True False  True False False  True  True  True
  True  True False  True  True False  True  True  True False False  True
 False  True False  True  True  True  True  True  True  True False  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False False  True  True
 False False  True]

In [53]:
print("Coverage = ", sum(cpd_AD) / len(cpd_AD))

Coverage =  0.7663817663817664

In [54]:
print("Indices of substances included in AD = ", np.where(cpd_AD != 0)[0])

Indices of substances included in AD =  [  0   1   5   6   7   8  11  12  15  16  17  19  20  21  23  24  25  26
  27  28  29  33  34  35  37  38  39  42  44  48  49  50  52  53  54  56
  57  58  59  60  61  62  64  65  68  71  72  73  74  75  76  77  78  81
  82  83  85  86  87  88  90  93  94  95  96  98  99 101 102 103 104 105
 106 107 108 109 110 111 112 113 115 116 117 118 119 120 121 123 125 126
 127 128 129 130 131 132 133 134 135 136 137 139 141 142 143 144 145 146
 147 150 151 152 153 154 155 156 157 159 160 161 162 163 164 165 167 168
 169 170 171 172 173 174 176 177 178 179 180 183 184 185 186 187 188 189
 190 191 192 193 195 196 197 198 199 200 201 202 203 204 205 206 208 209
 210 211 212 213 214 215 216 217 218 220 221 222 223 225 226 227 228 230
 232 233 234 235 237 239 240 242 244 246 247 248 249 250 251 252 254 255
 256 257 258 259 261 263 264 265 266 267 268 269 270 271 272 275 277 278
 279 280 281 282 283 284 286 287 291 292 294 297 298 299 300 301 303 304
 306 307 308 311 313 315 316 317 318 319 320 321 323 324 325 326 327 329
 330 331 332 333 334 335 336 337 338 339 340 341 342 343 346 347 350]

In [55]:
out_Ad=list(np.where(cpd_AD == 0)[0])

# Prediction only for molecules included in  AD

In [56]:
y_pred_con_ad=list(y_pred_con)

In [57]:
y_pred_con_ad[:] = [x for i,x in enumerate(y_pred_con_ad) if i not in out_Ad]

In [58]:
len(y_pred_con_ad)

269

In [59]:
y_ts_ad=list(y_ts)

In [60]:
y_ts_ad[:] = [x for i,x in enumerate(y_ts_ad) if i not in out_Ad]

In [61]:
len(y_ts_ad)

269

In [62]:
Q2_TS = round(r2_score(y_ts_ad, y_pred_con_ad), 2)
Q2_TS

0.76

In [63]:
RMSE_TS=round(np.sqrt(mean_absolute_error(y_ts_ad, y_pred_con_ad)), 2)
RMSE_TS

0.65